{
    email {$EMAIL}

    log default {
        output stdout
        format console
        level INFO
    }

    order rate_limit before basicauth
}

{$DOMAIN_NAME} {
    encode gzip zstd

    header {
        -Server
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    route /metrics* {
        @external_network {
            not {
                remote_ip 10.0.0.0/24
            }
        }
        handle @external_network {
            rewrite * /404.html
            reverse_proxy fastapi:8000
        }
        reverse_proxy fastapi:8000
    }

    reverse_proxy fastapi:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote_host}
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto {scheme}
        header_up X-Request-ID {http.request.uuid}

        header_down Cache-Control "public, max-age=600"
        header_down Vary "Accept-Encoding"
    }

    rate_limit {
        zone default {
            key {remote_host}
            events 25
            window 1m
        }
    }

    handle_errors 429 {
        header {
            -Server
        }
        respond ""
    }
}

grafana.{$DOMAIN_NAME} {
    encode gzip zstd

    reverse_proxy grafana:3000
}