{% extends 'dashboard_base.html' %}

{% block dashboard_content %}

<div class="card col-sm-4">
    <div class="card-header">
        <h5>Server status</h5>
    </div>
    <div class="card-body">
        <label id="statusLabel">NA</label>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='js/dashboard.js') }}"></script>

{% endblock %}