{% extends 'base.html' %}

{% block content %}
<br>

<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

<div class="container mt-4">
    <div class="mb-3">
        <label for="country-select" class="form-label">Filter by country</label>
        <select id="country-select" class="form-select">
            <!-- Options will be populated by JS -->
        </select>
        <label for="protocol-select" class="form-label">Filter by protocol</label>
        <select id="protocol-select" class="form-select">
            <!-- Options will be populated by JS -->
        </select>
    </div>

    <div id="proxy-table"></div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="{{ url_for('static', path='js/proxy_table.js') }}"></script>

{% endblock %}